.web-background {
  background: radial-gradient(ellipse at bottom, #1b2735c9 0%, #000000 100%);
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  -webkit-background-size: 100% 100% cover;
  -moz-background-size: 100% 100% cover;
  -o-background-size: 100% 100% cover;
  background-size: 100% 100% cover;
  /* set the padding and margin to "0" */
  margin: 0;
  padding: 0;
  /* set the position rules */
  top: 0;
  left: 0;
}
